.game-container {
    max-width: 95%;
    margin: 0 auto;
}

.game-board {
    display: grid;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

/* Mobile */
@media screen and (max-width: 480px) {
    .game-board {
        grid-template-columns: repeat(3, calc(33.3333% - 10px));
    }
}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .game-board {
        grid-template-columns: repeat(4, calc(25% - 10px));
    }
}

/* Desktop */
@media screen and (min-width: 769px) {
    .game-board {
        grid-template-columns: repeat(5, calc(20% - 10px));
    }
}


.card,
.card-inner {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}


.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-back,
.card-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.card-front {
    background-color: lightgrey;
}

.card-back {
    background-size: cover;
    transform: rotateY(180deg);
}

.timer {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.highscore-container {
    text-align: center;
}
.red-button {
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px auto;
    display: block;
    border: none;
    cursor: pointer;
}

.red-button:hover {
    background-color: darkred;
}
